<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>TIW-Group44-RIA</display-name>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://localhost:3306/bank?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>tiwp</param-value>
  </context-param>
  <context-param>
    <param-name>dbDriver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  	<filter>
      <filter-name>NoCacher</filter-name>
      <filter-class>it.polimi.tiw.projects.filters.NoCacher</filter-class> 
 	</filter> 
 	<filter-mapping> 
    <filter-name>NoCacher</filter-name> 
    <url-pattern>/Home.html</url-pattern>
    <url-pattern>/LoginRegistration.html</url-pattern>
 </filter-mapping> 
 <filter>
    <filter-name>CheckAuthentication</filter-name>
    <filter-class>it.polimi.tiw.projects.filters.CheckAuthentication</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckAuthentication</filter-name>
    <url-pattern>/AddToContacts</url-pattern>
    <url-pattern>/GetAccounstData</url-pattern>
    <url-pattern>/CreateBankAccount</url-pattern>
    <url-pattern>/CreateTransfer</url-pattern>
    <url-pattern>/GetContacts</url-pattern>
    <url-pattern>/GetTransfersData</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>LoginRegistration.html</welcome-file>
  </welcome-file-list>
</web-app>