<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{../CSS/mystyle.css}" />
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<div align="right">
		<a id="logout" href="@{/Logout}">Logout</a>
	</div>
	<!-- quale titolo mettere -->
	<h1>Welcome to the your Account Home Page</h1>
	<!-- vogliamo fare anche questo, se si dobbiamo aggiungere alla sessione tutto l'user e non solo l'id, o nel caso aggiungere le query -->
	<p>Welcome <span id="username_id"></span> your ID is: <span id="user_id"></span></p>
	<div id="accountsList_id">
		<table>
			<thead>
				<tr>
					<th>Id bank account</th>
					<th>Balance</th>
					<th>Link</th>
				</tr>
			</thead>
			<tbody id="accountsListBody_id"></tbody>
		</table>
		
	</div>
	
	<div id="createAccount_id">
	<form action="CreateBankAccount" method="POST">
		Balance: <input type="number" name="balance" min="0" step="0.01" required><br>
		
		<input type="submit" value="Create">
	</form>
	</div>
	
	<div id="transferList_id">
		<table>
			<thead>
				<tr>
					<th>Id transfer</th>
					<th>Amount</th>
					<th>Id Origin</th>
					<th>Id destination</th>
					<th>Date</th>
					<th>Comments</th>
				</tr>
			</thead>
			<tbody id="transferListBody_id">
				<tr>
					<td id="transfer_id"> </td>
					<td id="amount_id"> </td>
					<td id="origin_id"> </td>
					<td id="destination_id"> </td>
					<td id="date_id"> </td>
					<td id="comments_id"> </td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div id="transferForm_id">
		<select id="addressBook_id"> </select>
		<form action="CreateTransfer" method="POST">
		
			IdDestination: <input type="number" name="idDestination" min="0" required><br>
			UserDestination: <input type="number" name="userDestination" min="0" required><br>
			Amount: <input type="number" name="amount" min="0" step="0.01" required><br>
			Comments: <input type="text" name="comments" required><br>
			<input type="hidden" th:value="${bankAccount.id}" name="bankAccountidOrigin">

			<input type="submit" value="Create">
		</form>
	</div>
	
	<div id="result_id">
	<!-- TODO set all id -->
		<div id="transferOK_id">
			<h1>Transfer completed!</h1>
			<p th:text="${'Transfer amount:' + amount}">Transfer amount: 999</p>
			<br>
			<!-- vogliamo fare anche questo, se si dobbiamo aggiungere alla sessione tutto l'user e non solo l'id, o nel caso aggiungere le query -->
			<p id="originT_id">Origin Account ID: 1</p>
			<p id="originBalanceB_id">Origin Account Balance before transfer: 1000</p>
			<p id="originBalanceA_id">Origin Account Balance after transfer: 1</p>
			<br>
			<p id="destinationT_id">Destination Account ID: 2</p>
			<p id="destinationBalanceB_id">Destination Account Balance before transfer: 1</p>
			<p id="destinationBalanceA_id">Destination Account Balance after transfer: 1000</p>
			<button id="addContact_id" value="Add to Contact Book"> </button>
		</div>
		
		<div id="transferKO_id">
	
			<h1>Transfer can't be done</h1>
			<p id="transferError_id">The transfer is refused due to: I don't want</p>
		
		</div>
	
	</div>
</body>
</html>